
*{
    font-family: 'Roboto';
    
}


body{
    display: flex;
    flex-direction: column;
    
}

.awesome img{
    width: 700px;
    height: 300px;
}

.info-block img{
    width: 200px;
    height: 200px;
}

.info-block{
    width: 200px;
    padding: 20px;
}
.header,
.awesome{
    background-color: #1F2937;
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    padding: 8px 250px 50px;
    
}



.info-block img{
    border-radius: 8px;
    width : 150px;
    height: 150px;
}
.illustr-info{
    display: flex;
    justify-content: space-around;
    
}
ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;    
    color: #F9FAF8;
    flex: 0 1 auto;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex:1;
}

.hero-text h1{
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.hero-text p{
    font-size: 18px;
    color: #E5E7EB;
}

.header h2{
    font-size: 24px;
    color: #F9FAF8;
}

.footer,
button{
    background-color: #3882f6;
    color:#F9FAF8;
}

button{
    flex: 0 0 auto;
    width: 80px;
    height: auto;
    border-color: #F9FAF8;
    border-width: 2px;
}

.random-info{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
}
.info-block{
    display: flex;
    flex-direction: column;
}
.random-info h2{
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;

}

.client-rev{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 50px 520px 50px;
}

#client-text{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}
#client-name{
    text-align: end;
}

.footer{
    display: flex;
    flex:0 0 auto;
    margin: 50px 250px 50px;

    align-items: center;
    justify-content: space-around;

}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}